body {
    /* background-color: rgb(199, 239, 255);
    background-image: url(gambar/logo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    */

    background: rgb(199, 239, 255) url(gambar/logo.jpg) no-repeat fixed center;
    font-family: sans-serif;
}

h1 {
    color: #2e83f2;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

#teks_pendek {
    font-size: 24px;
    font-weight: bold;
}

#teks_panjang {
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 20px;
}

/* kondisi biasa */
.menu:link {
    background: grey;
    color: white;
}

/* kondisi setelah dikunjungi */
.menu:visited {
    background: grey;
    color: white;
}

/* kondisi hover - mouse di atasnya */
.menu:hover {
    background: green;
}

/* sedang diklik */
.menu:active {
    background: white;
}