body {
    /* background-color: rgb(199, 239, 255);
    background-image: url(gambar/logo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    */

    background: rgb(199, 239, 255) url(gambar/logo.jpg) no-repeat fixed center;
    font-family: sans-serif;
}

* {
    /* margin: 0px; */
}

h1 {
    color: #2e83f2;
    text-align: center;
    text-decoration: underline;
    display: inline;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    display: inline;
}

#teks_pendek {
    font-size: 24px;
    font-weight: bold;
    background: yellow;
    width: 50%;
    height: 200px;
    max-width: 30%;
    max-height: 100px;
    /* visibility: hidden; */
    display: none;
}

#teks_panjang {
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 20px;
}

#menu_web {
    /* margin: top right bottom left; */
    margin: 10px 0 50px 0;
}

.menu {
    display: inline-block;
    /* height: 50px;
    width: 100px;
    */
    text-decoration: none;
    /* border-width: 2px;
    border-style: solid;
    border-color: black;
    */
    border: 2px solid black;
    padding: 10px;
}

/* kondisi biasa */
.menu:link {
    background: grey;
    color: white;
}

/* kondisi setelah dikunjungi */
.menu:visited {
    background: grey;
    color: white;
}

/* kondisi hover - mouse di atasnya */
.menu:hover {
    background: green;
}

/* sedang diklik */
.menu:active {
    background: white;
}

/* mengatur posisi di css */
/* 1. static, 2. relative, 3. absolute, 4. fixed */

#menu_member {
    position: absolute;
    left: 30px;
    top: 65px;
}

#parent_h1 {
    position: relative;
    top: 100px;
}

/* posisi absolute tergantung parent element */
#h1_member {
    background: red;
    position: absolute;
    top: 140px;
    left: 10px;
}

#parent_h2 {
    position: relative;
    top: 100px;
}

#h2_member {
    background: yellow;
    position: fixed;
    top: 100px;
    left: 10px;
}